.radio-input-container {
  margin: 5px 0;

  .radio-input {
    display: none;

    &:checked + .radio-input-label .radio-input-clickbox {
      border: 6px solid #D8D8D8;
    }
  }
  .radio-input-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    vertical-align: center;
    color: #000000;

    .radio-input-clickbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #D8D8D8;
      border-radius: 20px;
      margin-right: 6px;
    }
  }
}
