.filters-block {
  display: flex;
  flex-wrap: wrap;

  .gender-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 177px;
    width: 177px;

    .gender-filter-title {
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 3px;
      margin-top: 4px;
    }
  }

  .age-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 196px;

    .age-filter-title {
      font-family: PT Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin-bottom: 3px;
      margin-top: 4px;
    }
    .age-filter-checkboxes-block {
      display: flex;
      flex-wrap: wrap;
      width: 196px;
    }
  }
}
